<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>JavaEE Race</display-name>

    <servlet>
        <servlet-name>race-servlet</servlet-name>
        <servlet-class>servlets.RaceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>race-servlet</servlet-name>
        <url-pattern>/horse-race/race/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>races-statistics-servlet</servlet-name>
        <servlet-class>servlets.StatOfRacesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>races-statistics-servlet</servlet-name>
        <url-pattern>/horse-race/stats</url-pattern>
    </servlet-mapping>

</web-app>